/*

CPU Scheduler Simulator

Name: David Pirraglia

Professor: Sister Jane Fritz

Class: COM 310

*/

/*Center the titile of the page*/
#title {
	text-align: center;
}

/*Hide the Quantum Spinner and Priority Button by default*/
#quantum, #priorityButton {
	display: none;
}

/*Set the width of the spinners*/
/*#quantumSpinner, #processSpinner {*/
/*#quantumSpinner {
	min-width: 35px;
}*/

/*Controls the style for subscripts used for P*/
.sub {
	vertical-align: sub;
	font-size: xx-small;
}

/**************************** Styles for the table ****************************/

#div-input {
	display: block;
	border-collapse: collapse;
	max-width: 520px;
	max-height: 105px;
	overflow: auto;
}

/*Styles for the table scroll bars*/

#div-input::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#div-input::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

#div-input::-webkit-scrollbar-thumb
{
/*	background-color: #00A2E8;*/
/*	background-color: #007FFF;*/
	background-color: #C5C5C5;
}

#div-head, .div-row {
	display: table-row;
}

/*Style the head of the table*/
#div-head div {
	font-weight: bold;
}

#div-head div, .div-row div {
	display: table-cell;
	border: 1px solid #C5C5C5;
	text-align: left;
	padding: 8px;
}

/*Hide the Priority Column*/
#div-input .priority {
	display: none;
}

/*Testing*/
#div-input .div-row input {
	padding: 2px;
}

/************************* Styles for the Gantt Chart *************************/

#gantt {
	border: solid #C5C5C5 1px;
	border-radius: 3px;
	background-color: #F6F6F6;
	height: 30px;
	display: block;
	position: absolute;
	left: 0%;
	width: calc(95% - 2px);
	margin-left: 2.5%; /*Center the chart*/
}

.gantt-cell {
	border-left: solid #C5C5C5 1px;
	display: inline-block;
	position: absolute;
	height: inherit;
}

.gantt-cell:first-child {
	border-left: none;
}

.gantt-label {
	margin-top: 5px;
	vertical-align: middle;
	text-align: center;
}

/*Style for the numbers below the chart*/
.lower {
	margin-top: 9px;
	margin-left: -5px;
/*	margin-left: -0.5em;*/
}

/*Fixes the zero on the bottom left corner of the Gantt Chart*/
#gantt > div:nth-child(1) > div.lower {
	margin-left: -2.5px;
/*	color: red;*/
}
